page-leaflet2 {
    .container-map {
        position: absolute;
        top: 0px;
        bottom: 0px;
        width: 100%;
        height: 93%;
    }
    .transparent-card {
        background-color: transparent;
    }
}

